td a::after {
				content:"\21d2";
			} 

#one {
	background-color:teal;
	color:red;	
}
#two {
	background-color:green;
	color:lightgrey;
}

.content {
	color:yellow;
	font-size:18px;
}

img {
	width:50%;
	border:1px solid black;
}		
form {
	border:3px solid black;
	padding:5px;
	font-family:Tahoma, sans-serif;
	font-size:20px;
	background-color:lightgrey;
}
div.olul {
	background-color: pink;
	font-family:sans-serif;
	font-size:18px;
	font-weight:italic;
}
.olul ol {
	color:red;
}
.olul ul {
	color:green;
}
<!-- div {
	border:1px solid red;
	margin:5px;
	padding:5px;
	font-family:Arial, sans-serif;
	color:blue;
	background-color:grey;
	font-size:28px;
	
}-->
table {
	background-color: lightgrey;
	border:1px solid green;
	border-collapse:collapse;
	color:red;
}
table th,td {
	border:1px solid green;
	padding:2px;

}
input[type=text] {
	color:orange;
	padding: 5px;
}
button:hover {
	background-color: green;
}